---
layout: info
title: City Guide
billboard_class: billboard-bridge-walk
---

{% if site.guide[site.context] %}
  <section class="container content-section text-center">
    <p>
      For all the out of town guests we put together a list of things to do while staying in the Springs.
      After all it is a long weekend so you might as well stay and enjoy the 4th of July.
    </p>

    {% for section in site.guide[site.context] %}
      <h3>{{ section[0] }}</h3>
      <div class="row">
        {% for one in section[1] %}
            <div class="col-lg-6">
              <p>
                <strong>{{ one.title }}</strong>
                <br>
                {{ one.description}}
              </p>
            </div>

            <div class="clearfix {% cycle 'hidden', 'visible-lg'%}"></div>
        {% endfor %}
      </div>
    {% endfor %}
  </section>

{% endif %}
